@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'FiraGO', sans-serif;
}

.scroll-container {
    max-height: auto;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #888 #f9f9f9;
    -ms-overflow-style: none;
    scrollbar-width: thin;
}

.scroll-container::-webkit-scrollbar {
    width: 8px;
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.scroll-container::-webkit-scrollbar-track {
    background-color: #f9f9f9;
    border-radius: 4px;
}

.horizontal-scroll {
    -webkit-overflow-scrolling: touch;
}

.horizontal-scroll::-webkit-scrollbar {
    display: none;
  }


@keyframes shakeKeyframes {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-10px);
    }

    40% {
        transform: translateX(10px);
    }

    60% {
        transform: translateX(-10px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }
}

.shakeAnimation {
    animation: shakeKeyframes 0.4s linear;
}